---
import { faqs } from "../data/faqs";
---

<div class="faq-list">
  {
    faqs.map((faq) => (
      <details class="faq-item">
        <summary>{faq.question}</summary>
        <p>{faq.answer}</p>
        {
          faq.relatedHref && faq.relatedLabel && (
            <p class="faq-related">
              <a href={faq.relatedHref}>Learn more: {faq.relatedLabel} →</a>
            </p>
          )
        }
      </details>
    ))
  }
</div>
